<main class="w-full bg-cyan-800 h-screen">

  <div class=" p-8 rounded shadow-md max-w-md mx-auto">
    <h1 class="my-4 font-bold text-center text-white text-4xl mb-4">
      &ltLet's Connect/&gt
    </h1>
  
    
    <form action="procesar_formulario.php" method="post">
      <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2"
        >Nombre:</label
        >
        <input
        type="text"
        id="nombre"
        name="nombre"
        required
        class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
        >Correo Electrónico:</label
        >
        <input
        type="email"
        id="email"
        name="email"
        required
        class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      
      <div class="mb-4">
        <label for="mensaje" class="block text-gray-700 text-sm font-bold mb-2"
        >Mensaje:</label
        >
        <textarea
        id="mensaje"
        name="mensaje"
        rows="4"
        required
        class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>

      <div class="mx-auto text-center">
        
        <button
        type="submit"
        class=" bg-blue-500 text-white px-4 py-2 rounded hover:bg-green-600"
        >Enviar Mensaje</button
        >
      </div>
    </form>
  </div>
  
</main>