<main class="w-full h-full  p-6  bg-indigo-600">
    <h1 class="my-4 font-bold text-center text-white text-4xl mb-4">
      &lt Education /&gt
    </h1>
    <p class="text-gray-600">
        🎓
    </p>
  </main>
  