<main class="flex flex-col sm:flex-row justify-between h-screen px-4 sm:px-14">
  <section class="snap-center justify-center flex flex-col flex-grow w-full sm:w-60 px-4 sm:px-10 font-sans">
    <h1 class=" px-4 sm:px-10 flex text-white text-4xl sm:text-6xl">
      Hello, my name is
      <h1 class="text-start self-end text-titles ml-2 text-6xl sm:text-8xl">Rodrigo Fassi</h1>
    </h1>

    <p class="text-white text-lg border-b-2 mt-4 border-blue-500 text-center">
      Front-end Developer currently based in Cordoba, Argentina.
    </p>
  </section>

  <aside class="self-center mt-4 sm:mt-0">
    <img
      class="w-full sm:w-64 h-64 rounded-3xl"
      src="../../public/images/portfolio_pic.jpg"
      alt="Selfie de Rodrigo"
    />
  </aside>
</main>
